<title> GTA Online weekly</title>
<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="../static/css/main.css">

<head>
    <h1>
        This weeks rotation
    </h1>

    <div class="buttons">
        <div class="button">
            <form action="/podium">
                <input type="submit" value="Podium" />
            </form>
        </div>
        <div class="button">
            <form action="/login">
                <input type="submit" value="Login" />
            </form>
        </div>
        <div class="button">
            <form action="/double">
                <input type="submit" value="Double Money" />
            </form>
        </div>
        <div class="button">
            <form action="/triple">
                <input type="submit" value="Triple Money" />
            </form>
        </div>
        <div class="button">
            <form action="/discounts/cars">
                <input type="submit" value="Cars" />
            </form>
        </div>
        <div class="button">
            <form action="/discounts/properties">
                <input type="submit" value="Properties" />
            </form>
        </div>
    </div>
</head>
<body>
    {% if categ1 == "Podium" %}
        <div class="cadre">
            <img class="image"
                src="static/images/{{info}}.jpg">
            <div class="name">
                <p class="name">{{info}}</p>
            </div>
        </div>
    {% endif %}

    {% if categ1 == "Log in" %}
        {% for data in info %}
            <div class="cadre">
                <img class="image"
                    src="static/images/{{data}}.jpg">
                <div class="name">
                    <p class="name">{{data}}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if categ1 == "Double money" %}
        {% for data in info %}
            <div class="cadre">
                <img class="image"
                    src="static/images/{{data}}.jpg">
                <div class="name">
                    <p class="name">{{data}}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if categ1 == "Triple money" %}
        {% for data in info %}
            <div class="cadre">
                <img class="image"
                    src="static/images/{{data}}.jpg">
                <div class="name">
                    <p class="name">{{data}}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if categ1 == "Discounts" and categ2 == "Cars" %}
        {% for data in info %}
            <div class="cadre">
                <img class="image"
                        src="../static/images/{{data[0]}}.jpg">
                <div class="name">
                    <p class="name">{{data[0]}}</p>
                </div>
                <div class="price">
                    <p class="price">{{data[1]}}$</p>
                </div>
                </p>
            </div>
        {% endfor %}
    {% endif %}

    {% if categ1 == "Discounts" and categ2 == "Properties" %}
        {% for data in info %}
            <div class="cadre">
                <img class="image"
                    src="../static/images/{{data[0]}}.jpg">
                <div class="name">
                    <p class="name">{{data[0]}}</p>
                </div>
                <div class="price">
                    <p class="price">-{{data[1]}}%</p>
                </div>
                </p>
            </div>
        {% endfor %}
    {% endif %}
</body>